/* -------------    FAQs section Start       ------------- */

.faqsection {
    text-align: center;
    padding: 1rem 0rem 3rem;
}

.faqsection .faqheader {}

.faqsection .faqheader h5 {
    font-size: 39px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: #333333;
}

.faqsection .faqheader h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 138%;
    text-align: center;
    color: #333333;
    margin-bottom: 3rem;
}

.faqsection .faqcontent {
    /* background: linear-gradient(90deg, rgba(201, 196, 211, 0.1) 0%, rgba(102, 65, 170, 0.03) 100%); */
    background: rgba(102, 65, 170, 0.04);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

 .accordian {
    width: 856px;
    /* height: 201px; */
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
    border-radius: 14px;
    padding: 1rem 2rem;
    text-align: start;

    margin: 1rem 0;
}

.accordian .accordianheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.accordian .accordianheader #faqarrow {
    height: 9.599997329712096px;
    width: 16.79999914169298px;
}

.accordian .accordianheader h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.accordian .accordiancontent p {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 156%;
    color: #494949;
}


/* -------------    FAQs section End       ------------- */