.example-custom-input {
  background: url("./calendar.svg") no-repeat 95%;
  background-size: 20px;
  width: 380px;
  height: 47px;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
  padding-right: 30px !important;
}

.example-custom-input:focus-visible {
  border: 1px solid #d9d9d9;
  /* outline: none; */
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #d9d9d9;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
  border: 1px solid #d9d9d9;
  /* margin: 0.066rem; */
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #d9d9d9;
  border-radius: 50%;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50%;
}

.example-datepicker-class .react-datepicker__today-button {
  color: #d9d9d9;
  background-color: white;
  text-align: right;
}
@media screen and (max-width: 430px) {
  .example-custom-input {
    background: url("./calendar.svg") no-repeat 95%;
    background-size: 20px;
    width: 130% !important;
  }
}
@media screen and (max-width: 380px) {
  .example-custom-input {
    background: url("./calendar.svg") no-repeat 95%;
    background-size: 20px;
    width: 110% !important;
  }
}
@media screen and (max-width: 350px) {
  .example-custom-input {
    background: url("./calendar.svg") no-repeat 95%;
    background-size: 20px;
    width: 100% !important;
  }
}

/* @media screen and (max-width: 500px) {
  .example-custom-input {
    background: url("./calendar.svg") no-repeat 95%;
    background-size: 20px;
    width: 100%;
  }
} */
