body{
 padding: 0;
  margin: 0;
    font-family: 'Roboto', sans-serif !important;

}



.applynow{
  width: 622px;
    height: 72px;

    border-radius: 20px;
      border: 1px solid rgba(169, 155, 155, 0.45);
      background:white;
      
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 1rem ;
      margin: 2rem auto 1rem;
      
}

.applynow input{
  background-color: transparent;
  border: none;
  color: #1D2130;
  opacity: 0.4000000059604645;
  width: 100%;
  outline: none;
}

.applynow button {
  width: 157px;
  height: 56px;
display: inline-flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
    font-style: normal;
    font-weight: 700;

    color: #FFF;

  border-radius: 12px;
    background: #6641AA;
    border: none;
}



.internboxtext{
  font-size: 18px;
    color: #74757E;
    font-weight: 400;

    margin: .8rem 0;
}



.internofferbtn{
  width: 150px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #6641AA;
border-radius: 30px;

    font-size: 16px !important;
      color: #F5F5F5 !important;
      font-weight: 600 !important;
}


.internofferh3{
  color: #000;
font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.internofferp {
  font-size: 18px;
 color: #8B8585;
    font-weight: 400;

    border-bottom: 1px solid rgb(212, 209, 209);

    margin-bottom: 0;
  
}



.interncoveli{
  font-size: 18px;
   color: #000;
    font-weight: 400;
}


.interncovebtns{
display: flex;
align-items: center;
justify-content: center;

width: 115px;
  height: 38px;
  border: 1px solid #C7C7C7;
  background-color: transparent;
  border-radius: 30px;

  font-size: 16px;
  color: #A79A9A;
    font-weight: 500;
}

.interncovebtnsactive {
  background-color: #C9C9C9;
  color: #FFF;
  font-weight: 600;
}


.filterbtn{
margin-top: 2.5rem;
position: relative;
}

.filterbtn button{
  background-color: #6641AA;
  color: #FFF;
  border: 1px solid #6641AA;
  border-radius: 5px;
  padding:.5rem 1.5rem;

  font-size: 16px;
  font-weight: 600;
}


.allcoursesp{
font-size: 24px;
color: #6641AA;
  font-weight: 700
}


.allcoursesh1 {
font-size: 48px;
 color: #1D2130;
  font-weight: 700;
}


.allcoursescard{
  border-radius: 45px !important;
}

.allcoursescardimg {
  border-radius: 45px 45px 0px 0px !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    height: 190px;
}

.allcoursescardhead{
font-size: 25px !important;
color: #000;
  font-weight: 600 !important;
}
.allcoursescardp{
font-size: 17px !important;
color: #656363;
  font-weight: 400 !important;
}



.guranteCoursep{
color: #6641AA;
font-size: 24px;
font-weight: 700;
}


.guranteCourseh1{
font-size: 48px;
 color: #1D2130;
  font-weight: 700;
}


.guranteeCoursecard{
border-radius: 10px 10px 0px 0px;
}

.guranteeCourseCardimg{
  height: 190px;
}

.guranteecoursecardtitle{
  font-size: 22px;
    color: #000;
    font-weight: 700 !important;
}
.guranteecoursecardbodyp{
  color: #7E7E7E;
    font-size: 15px;
    font-weight: 400;
}


.faqp{
  font-size: 20px;
    color: #333;
    font-weight: 600;
}

.faqh1{
  font-size: 48px;
        color: #333;
    font-weight: 700;
}


.applyh1{
  font-size: 40px;
    color: #FFF;
    font-weight: 700;
}

.applyp{
  font-size: 18px;
        color: #FFF;
    font-weight: 400;
}


.applyform .form-control {
width: 460px;
  height: 64px;
}


.applybtn{
  /* width: 50% ; */
    border-radius: 12px !important;
      background: #16094F !important;
      color: white !important;
      border: none !important;


      display: flex !important;
        width: 622px !important;
        padding: 16px 40px !important;
        justify-content: center;
        align-items: center;


        font-size: 16px;
          font-weight: 700;
}



.contactus{
  border: 1px solid lightgray;
}


.contactusfooth{
  font-size: 15px;
  color: #000;
    font-weight: 600;
}

.contactusfootp {
  font-size: 15px;
    color: #16094F;
    font-weight: 400;

    width: 120px;
}



.bannerh1{
  color: #777; 
  text-align: center; 
  font-size: 57px; 
  font-weight: 400;
}

.bannerh1span{
  color: #2D1D64; 
  font-size: 60px;
  font-weight: 800;
}

.bannertext{
  font-size: 20px;
  font-weight: 400;
  color:#1D2130;
}
.contactfootgap{
  gap: 3rem;
}

@media screen and (max-width:430px) {
    .bannerh1span{
      font-size: 15px;
    }
    .bannerh1{
      font-size: 15px !important;
      color:#1D2130;
    }
    .bannertext{
      font-size: 13px !important;
      opacity: 0.8700000047683716;
      text-align: center;
    }

    .applynow {
          width: 302px;
            height: 50px;
            border-radius: 10px;
    }
      
        .applynow button {
width: 100px;
  height: 37px;
  font-size: 12px;
  padding: 0;
        }



        .headcustom{
          flex-direction: row-reverse;
            justify-content: start !important;
            margin-top: 1.5rem;
        }
        .headcustomimg{
          margin-left: 5rem;
        }

       .allcoursesp {
font-size: 16px;
  font-style: normal;
  font-weight: 700;
       }
             .allcoursesh1 {
              font-size: 25px;
                font-style: normal;
                font-weight: 700;
             }

    .guranteCoursep {
      font-size: 16px;
    }
        .guranteCourseh1 {
          font-size: 25px;
        }
                .contactfootgap {
                  gap: 0rem;
                }
             .contactus {
               border: none;
             }

             *{
              background-color: #000;
             }
}