* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  overflow: hidden;
}

.contentx {
  padding: 50px;
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: 4px;
}

.coursemilestoneempty{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left: 20rem;
}
.coursemilestoneempty img{
  width: 500px;
    height: 558.101px;
}