@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

.CourseDetail {
  padding: 0 2rem 2rem 2rem;
  .course-detail-header {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    /* identical to box height, or 36px */

    letter-spacing: 0.02em;

    color: #000000;
  }
  .course-detail-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .cdi-left {
      .cdi-description {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        letter-spacing: 0.02em;

        color: #616161;
      }
      .cdi-ranking {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        letter-spacing: 0.02em;

        color: #000000;

        .stars {
          color: #f9e005;
        }
        span {
          color: #6641aa;
        }
      }
      .cdi-img {
        width: 600px;
        height: 365px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      .cdi-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 600px;
        gap: 1rem;
        transform: translateX(-10px);
        .cdi-feature {
          width: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          img {
          }
          span {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
            letter-spacing: -0.01em;

            color: #000000;
          }
        }
      }
    }
    .cdi-right {
      width: 369px;
      align-self: flex-start;
      .cdi-right-main {
        width: 369px;
        height: 381px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        .cdi-r-title {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 120%;
          /* identical to box height, or 30px */

          letter-spacing: 0.02em;

          color: #000000;
        }
        .cdi-r-ranking {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */

          letter-spacing: 0.02em;

          color: #7e7e7e;
          .stars {
            color: #f9e005;
          }
        }
        .cdi-r-enroll {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */

          letter-spacing: 0.02em;

          color: #6641aa;
        }
        .cdi-r-feature {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */

          letter-spacing: 0.02em;

          color: #000000;

          img {
            margin-right: 1rem;
          }
          span {
          }
        }
        .cdi-r-button {
          align-self: center;
          width: 279px;
          height: 48px;
          left: 1061px;
          top: 478px;

          background: #6641aa;
          border-radius: 5px;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 19px;
          line-height: 24px;
          /* identical to box height */

          letter-spacing: -0.01em;

          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .cdi-right-footer {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: -0.01em;

        span {
          text-decoration-line: underline;
          color: #ff9800;
        }
      }
    }
  }
  .course-detail-below {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 39px;
      line-height: 49px;
      letter-spacing: -0.01em;

      color: #000000;
    }
    p {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 33px;
      letter-spacing: -0.01em;

      color: rgba(66, 66, 66, 0.9);
      margin-top: 1rem;
    }
    .cdb-video {
      // border: 3px solid red;
      max-width: 1030px;
      width: 100%;
      height: 495px;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: red;
      img {
        width: 100%;
        position: absolute;
        height: 100%;
        border: #000000;
      }
      .cdb-video-play {
        border: 3px solid red;
        // position: absolute;
        // top: 50%;
        // bottom: 50%;
        // left: 50%;
        // right: 50%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
        color: #ff9800;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cdb-download {
      max-width: 1030px;
      width: 100%;
      text-align: end;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
      letter-spacing: -0.01em;

      color: #000000;
      span {
        color: #ec3b57;
      }
    }
  }
  .course-detail-footer {
    position: relative;
    background: #2d1d64;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: -0.01em;

    color: #ffffff;
    padding: 65px;
    div {
      max-width: 100%;
      h1 {
        margin-bottom: 1rem;
      }
      ul {
        max-width: 100%;
        li {
          max-width: 100%;
          // border: 3px solid red;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 35px;
          letter-spacing: -0.01em;
          color: #d9d9d9;
        }
      }
    }
    .course-detail-footer-img {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
      }
    }
  }
}
